body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.623);
}

img {
    transform: scale(3);
}

#bloquePassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -70px;
    left: -200px;
    font-weight: bolder;
    z-index: 1;
}